.ordering {
    background-color: antiquewhite;
    padding-bottom: 50px;
}

.form1 {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    width: 15%;
    border: 2px solid white;
    padding: 20px;
    background-color: black;
    color: white;
}

.formDiv {
    display: block;
    text-align: center;
}

.formDiv input {
    background-color: bisque;
}

.formDiv label, .formDiv button  {
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

.orderInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    font-size: 22px;
}

.orderInfo ol {
    border: 1px dashed gray;
    padding: 10px 35px;
    margin-top: 25px;
}


