#allMenu {
    margin-top: 50px;
    padding-bottom: 30px;
}

#menu h2 {
    text-align: center;
    margin-top: 50px;
    
}

.card-body button {
    position: relative;
    width: 80px;
}

.card-body p {
    height: 50px;
}

.card span {
    font-size: 18px;
    font-weight: bold;
    position: relative;
    left: 60%;
}