.mainDiv {
    height: 600px;
    background-image: url('../img/rewards-pizza.jpg');
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}

.mainDiv h2 {
    color: white;
    text-shadow: 2px 2px  red;
    background-color: cadetblue;
    width: 430px;
    text-align: center;
}

#mainBtns {
    text-transform: uppercase;
    border: none;
    color: #FFB74A;
    background-color: #262626;
    font-weight: bold;
    height: 40px;
}

#mainBtns:hover {
        color: brown;
}

.aboutUs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}

.aboutUs p {
    position: relative;
    left: -15%;
    width: 600px;
    text-align: left;
}

.aboutImg {
    display: flex;
    justify-content: end;
    flex-direction: column;
    padding: 20px 0;
}

.aboutImg :nth-child(1) {
    width: 300px;
    transform: rotate(90deg);
    position: absolute;
    top: 79%;
    right: 33%;
}

.aboutImg :nth-child(2) {
    width: 200px;
    position: absolute;
    top: 74%;
    right: 22%;
}

.aboutImg :nth-child(3) {
    width: 200px;
    position: absolute;
    top: 91%;
    right: 22%;
}



