header {
    height: 80px;
    background-color: #262626;
    /* position: fixed; */
    z-index: 2;
    width: 100%;
}

.navElements {
    display: flex;
    justify-content: space-between;
}

.navElements a:not(#logo) {
    text-decoration: none;
    color: #FFB74A;
    font-size: 19px;
    font-weight: bold;
    padding: 0 30px;
    margin-top: 25px;
}

.navElements a:hover {
    color: brown;
}

.navElements a img {
    width: 90px;
    
}